@font-face {
  font-family: 'Universidad';
  src: url('../fonts/uni.woff2') format('woff2'), /* Path to WOFF2 font file */
       url('../fonts/uni.woff') format('woff'); /* Path to WOFF font file */
  /* Add other font properties here if needed, such as font-weight and font-style */
}

.admin-page {
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Search box */
  .search-box {
    display: flex;
    align-items: center;
    width: 70%;
  }
  
  .form-control {
    flex-grow: 1;
    border-radius: 4px 4px 4px 4px;
  }
  
  .search-button {
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
    /* background-color: #007bff; */
    border: 1px solid #ccc;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    border-left: none;
    height: 50px;
  }
  
  .search-box input[type='text'] {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    height: 50px; /* Adjust the height as needed */
    font-size: 16px;
    border-right: none;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    border-right: none;
  }

  .event-list {
    margin-bottom: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 20px;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
  }
  
  .event-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .event-image img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .event-info {
    padding: 10px;
  }
  
  .event-info h3 {
    margin-top: 0;
    text-align: center;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .button-group button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border-radius: 50%;
  }
  
  .button-group button:hover {
    background-color: #f9f9f9;
  }
  
  .add-event {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .add-event input[type='text'] {
    flex: 1;
    margin-right: 10px;
  }
  
  .add-event-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .add-event-button:hover {
    background-color: #0056b3;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .burger-menu {
    cursor: pointer;
    color: #000;
    font-size: 30px;
    margin-right: 10px;
  }
  
  /* .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
    padding: 0;
    color: #007bff;
  }
  
  .pagination-button.active {
    font-weight: bold;
  } */

  .pagination {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    z-index: 999; /* Adjust the z-index as needed */
  }
  
  .pagination-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
    padding: 0;
    color: #007bff;
  }
  
  .pagination-button.active {
    font-weight: bold;
  }
  
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    font-family: 'Universidad', sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    color: #f6b162
  }
  

    .event-heading {
        font-size: 24px;
        color: #333;
        text-align: left; /* Align text to the left */
        margin-top: 20px;
        margin-bottom: 20px;
      }
  
 
  /*image*/
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .search-icon {
    color: grey;
  }

  .human-icon {
    position: absolute;
  right: 20px; /* Adjust the distance from the right end as needed */
  font-size: 24px; /* Adjust the size as needed */
  color: #000; 
  }

  .banner-image {
    width: 100%; /* Adjust the desired width */
     /* Maintain aspect ratio */
  }

  .organizer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    /* This will create as many 200px columns as will fit in the container, and each column will take up an equal amount of space */
    grid-gap: 20px;
}

  .organizer_followed img {
    max-width: 100%;
    height: auto;
  }
  
  .organizer_followed {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    width: 200px;
    margin-left: 16px;
    border-radius: 12px;
  }


  

  
  